@import '../../../styles.scss';

.footer {
    background-color: $color-morado;
    padding: 10px;
    padding-right: 30px;
    color: $color-blanco;
    width: 100%;
    height: 5vh;
    bottom: 0;
}

.copyright {
    text-align: right;
    font-size: 12px;
}
