@import "src/styles.scss";

header {
    background: linear-gradient(90deg,$color-morado,$color-rosa);
    padding: 15px 0;
    height: 9vh;
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: auto;
        h1 {
            color: $color-blanco;
            margin: 0;
            font-size: 20px;
        }
        nav {
            a {
                color: $color-gris;
                text-decoration: none;
                margin-left: 50px;
                font-size: 18px;
                &:hover {
                    color: $color-morado;
                }
            }
        }
    }
}
