<div class="report">
    <h2 class="report-title">Informe del Análisis</h2>
    <div class="analysis">
        <p class="analysis-url"><strong>URL:</strong> {{analysisData.url}}</p>
        <p class="analysis-title"><strong>Título:</strong> {{analysisData.title}}</p>
        <p class="analysis-description"><strong>Descripción:</strong> {{analysisData.description}}</p>
        <p class="analysis-keywords"><strong>Palabras clave:</strong> {{analysisData.keywords.join(', ')}}</p>

        <div class="analysis-headings">
            <strong>Encabezados:</strong>
            <ul>
                <li *ngFor="let title of analysisData.titles">
                    <strong>{{title.key.toUpperCase()}}:</strong> {{title.value}}
                </li>
            </ul>
        </div>

        <p class="analysis-html5"><strong>¿Utiliza HTML5?:</strong> {{analysisData.html5 ? 'Sí' : 'No'}}</p>
        <p class="analysis-images"><strong>Número de imágenes:</strong> {{analysisData.images}}</p>
        <p class="analysis-created"><strong>Fecha del análisis:</strong> {{analysisData.createdAt}}</p>
    </div>
</div>