@import '../../../styles.scss';

.report{
    color: $color-azul-oscuro;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .analysis {
        width: 50%;
        margin: 1em auto;
        padding: 2em;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: $color-gris-claro;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        .analysis-header {
            text-align: center;
        }

        .analysis-headings {
            ul {
                list-style-position: inside; // Puntos de la lista dentro del bloque
                padding-left: 2em;
            }
        }
    }
}