<div class="welcome-message">
    <h1>
        📊¡Bienvenido a SEO Web Analyzer!🔍<br>
    </h1>
    <p>
        ¿Alguna vez te has preguntado qué hay detrás de tus páginas web favoritas? <br>
        <br>
        Con SEO Web Analyzer, puedes <span class="bold">Explorar</span> y <span class="bold">Entender</span>
        la estructura y el contenido de <span class="bold">cualquier sitio web</span> de una manera rápida
        y sencilla. <br>
        <br>
        Simplemente introduce la URL del sitio que te interesa,
        y nuestro potente analizador se pondrá a trabajar, desglosando la página en sus componentes clave.
        Ya sea que seas un desarrollador, un estudiante, o simplemente alguien curioso sobre cómo
        funcionan las cosas en la web, SEO Web Analyzer te ofrece una
        <span class="bold">visión única e informativa</span>.
    </p>
    <h4>¡Comienza tu análisis ahora!</h4>
    <app-browser></app-browser>
</div>
