@import '../../../styles.scss';

.welcome-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 9vh - 5vh);
    width: 100%;
    padding: 3em;
    background-color: $color-blanco;
    box-sizing: border-box;
    text-align: center;

    h1 {
        font-size: 40px;
        color: $color-rosa;
        margin-bottom: 30px;
    }

    p {
        font-size: 20px;
        color: $color-morado;
        margin-bottom: 30px;
    }
    .bold{
        font-weight: bold;
    }
    h4{
        color: $color-rosa;
    }
}
