<div class="historial">
    <h2 class="historial-title">Historial de Consultas</h2>
    <div class="historial-card">
        <div class="historial-header">
            <span class="historial-header-item">URL</span>
            <span class="historial-header-item">ANALYZED AT</span>
        </div>
        <hr class="historial-divider">
        <div class="historial-item" *ngFor="let item of items">
            <a href="{{item.url}}" class="historial-item-link" target="_blank">{{item.url}}</a> <!-- aqui debo eliminar href y sustituilo por (click) que llame a la petición para ver el informe. -->
            <div class="historial-date-delete">
                <span class="historial-item-date">{{item.createdAt}}</span>
                <button class="historial-item-delete"> <!-- Aqui se llamara a la funcion que haga la peticion DELETE -->
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
        </div>
    </div>
</div>

